pip install pyttsx3
pip install datetime
pip install speech_recognition
pip install smtplib
pip install email
pip install pyautogui
pip install webbrowser
pip install time
pip install wikipedia
pip install pywhatkit
pip install newsapi
pip install clipboard
pip install json
pip install requests
pip install os
pip install string
pip install random
pip install psutil 
pip install nltk





